.addressCard:hover {
  border: solid 2px blue;
  cursor: pointer;
}
.main-div {
  margin-top: 5%;
  margin-left: 5%;
}
#newAddress {
  width: fit-content;
  margin-left: 80%;
}
.addressCol {
  margin-bottom: 5%;
}
.addressCard {
  width: 200px;
  align-content: center;
  align-items: center;
}
.bolderText {
  font-weight: bolder;
}
#checkOut {
  width: fit-content;
  margin-left: 80%;
}
.countryP {
  margin-left: 25%;
  margin-top: 5px;
}
.countryDiv {
  width: 500px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  align-items: center;
}
