.containerCard {
  width: 58rem;
  left: 30px;
}

.listDiv {
  margin-top: 50px;
  margin-left: 5%;
}

.navBarIcon {
  color: black;
  font-size: 30px;
}
.navbar-menu-wrapper {
  width: 100% !important;
}

.messageCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 35%;
  height: 300px;
  width: 600px;
}

.homePagemessage {
  font-family: serif;
  text-shadow: 2px 2px #ff0000;
}

.slideImage {
  height: 500px;
  width: 100%;
}
