.continue{
    background-color: transparent;
    border: solid 1px blue;
}

.card{
    border:solid 2px blue;
    border-radius: 20px;
    margin-top: 150px;
    width: 500px;
    margin-left: 350px;
}