
.page-link {
    border: none !important;
    margin: 10px;
    background-color: #f5f7ff;
    cursor: pointer;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
}

.page-link {
    background-color: #f5f7ff !important;
}

.page-item:hover .page-link:hover {
    background-color: #0969da !important;
    color: #6c757d;
    border-radius: 6px;
}

.page-link-active {
    background-color: #0969da !important;
    color: #fff !important;
    border-radius: 6px;
}

.btnx{
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg,#775bea,#ff72c0);
}
